*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@font-face{
    font-family: 'Raleway-Light';
    src: url('./Fonts/Raleway/Raleway-Light.ttf');
}
@font-face{
    font-family: 'Raleway-Regular';
    src: url('./Fonts/Raleway/Raleway-Regular.ttf');
}
@font-face{
    font-family: 'Raleway-Medium';
    src: url('./Fonts/Raleway/Raleway-Medium.ttf');
}
@font-face{
    font-family: 'Raleway-Semi-Bold';
    src: url('./Fonts/Raleway/Raleway-SemiBold.ttf');
}
@font-face{
    font-family: 'Raleway-Bold';
    src: url('./Fonts/Raleway/Raleway-Bold.ttf');
}
@font-face{
    font-family: 'Raleway-Extra-Bold';
    src: url('./Fonts/Raleway/Raleway-ExtraBold.ttf');
}
.navTop{
    padding: 20px;
    margin-top: 3px;
    display: flex;
    flex-flow :row wrap;
    width: 100vw;
    justify-content: space-evenly;
}
.navTop a{
    color: rgb(255,255,255,1);
    text-decoration: none;
    font-family: 'Raleway-Light', sans-serif;
    font-size: 5vmin;
    border: 3px solid rgba(0,0,0,0);
}
.navTop a:hover{
    border-bottom-color: #6c3d5b;
    /* color:#6c3d5b; */
}

#headerContainer{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.10), rgba(0, 0, 0, .6)), url('./Images/MainPageHeaderBG.JPG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 95vh;
    width: 100vw;
    align-items: flex-start;
}
#headerContainer p{
    position: sticky;
    top: 0;
    text-align: center;
    color: rgb(255,255,255,1);
    font-size: 17vmin;
    font-family: 'Raleway-Semi-Bold';
}

#parallax{
    background-attachment: fixed;
    background-image: url(./Images/Parallax.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
}
#parallaxContent{
    background-color: rgb(0,0,0,0.6);
    height: 30vmax;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
#parallaxContent p, h1, button{
    text-align: center;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Raleway-Light', sans-serif;
    flex-basis: 100vw;
}
#parallaxContent p{
    color: #b0b0b0;
    font-size: 5vmin;
}
#parallaxContent h1{
    font-size: 10vmin;
    color: rgb(233, 233, 233);
    margin-bottom: 15px;
}
button{
    font-family: 'Raleway-Extra-Bold', sans-serif;
    height: 10vmin;
    max-width: 20vmax;
    color: rgb(233, 233, 233);
    background-color: rgb(0,0,0,0);
    border: 3px solid rgba(87, 87, 87, 1);
}
button:hover{
    background-color: rgba(87, 87, 87, 1);
}
button:active{
    background-color: rgb(63, 63, 63);
}



#bodyContainer{
    background: rgb(236, 236, 236);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.bio{
    font-family: 'Raleway-Light', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    font-size: 5vmin;
    width: 100vmax;
    text-align: center;
    padding: 10px;
    width: 90vw;
    margin-top: 60px;
}
.imgContainers .heading{
    font-family: 'Raleway-Semi-Bold', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    color: rgba(77, 77, 77, 0.6);
}
.imgContainers p{
    font-family: 'Raleway-light', sans-serif;
    font-size: 15px;
    color: rgba(0,0,0);
    -moz-osx-font-smoothing: grayscale;
}
.imgContainers{
    margin-top: 15px;
    text-align: center;
    padding: 10px;
    flex: 1 0 25vmin;
    margin-bottom: 10vmin;
}

#bodyContainer div img{
    max-width: 95%;
    min-width: 200px;

}


#footer{
    -moz-osx-font-smoothing: grayscale;
    color: rgb(233, 233, 233);
    background-color: rgb(0,0,0,0.4);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    height: 132px; 
    margin-bottom: 100px;
}
.navBottom{
    padding: 20px;
    margin-top: 3px;
    display: flex;
    flex-flow :row wrap;
    width: 100vw;
    justify-content: space-evenly;
}
.navBottom a{
    color: rgb(233, 233, 233);
    text-decoration: none;
    font-family: 'Raleway-Regular', sans-serif;
    font-size: 2.5vmin;
    border: 3px solid rgba(0,0,0,0);
}
.navBottom a:hover{
    text-decoration: underline;
}
#busInfo{
    width: 100vw;
    padding: 5px;
    font-size: 3vmin;
    text-align: center;
}

